body {
    color: #555 !important;
    opacity: 1;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,
    "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}
#main-content {
    margin-left: 0 !important;
}
.stats-cards {
    padding: 0 2px;
}
.card-desc {
    display: block;
    margin-top: 2px;
}
.card-spaceless {
    padding: 0.5rem;
}
.card-spaceless .card-title {
    padding: 0.5rem;
    text-align: center;
}
.app-main .app-main__inner {
    padding: 30px 30px 0;
}
.text-color {
    color:rgb(230, 0, 0);
}
.stats-map .card-body {
    padding: 10px;
}
.app-title {
    color: black !important;
    margin: 0 auto;
    font-weight: bold;
}
.text-black-50 {
    color: #555;
}
.widget-content .widget-content-left .widget-heading,
.widget-content .widget-content-left .widget-subheading {
    opacity: 1;
}
.text-danger {
    color: #FF0000 !important;
}
.text-dark, .text-black, .text-black-50 {
    color: #222 !important;
}
.text-warning {
    color: #FFCC00 !important;
}
table td span {
    font-weight: bold;
}
.card-header.card-header-tab .card-header-title {
    white-space:inherit !important;
}
.widget-content .widget-numbers {
    font-size: 3rem;
}
.widget-content .widget-content-left .widget-heading, .widget-content .widget-content-left .widget-subheading {
    text-align: center;
}
.jvectormap-label {
    z-index: 99999;
}