<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"/>
    <meta name="msapplication-tap-highlight" content="no">

    <title>Онлайн статистика распостранения коронавируса COVID-19</title>

    <link href="{{ asset('main.css') }}" rel="stylesheet">
    <link href="{{ asset('custom.css') }}" rel="stylesheet">
    <link href="{{ asset('css/jquery-jvectormap-1.2.2.css') }}" rel="stylesheet">
</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow">
    <div class="app-header header-shadow">
        <div class="app-header__content">
            <h4 class="app-title">
                <a class="text-dark" href="{{ url('index') }}">COVID-19</a>
            </h4>
        </div>
    </div>
    <div class="app-main">
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-graph2 icon-gradient bg-danger">
                                </i>
                            </div>
                            <div>
                                <h1 style="font-size:24px;color:#333;">Онлайн статистика распостранения коронавируса COVID-19 </h1>
                                <div class="page-title-subheading" style="color: #111;">Этот сайт предоставляет в реальном времени информацию о ситуации с коронавирусом.<br/>
                                    Люди должны знать правду и для этого отслеживаем различные ресурсы и отбираем наиболее актуальные данные дважды в час.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-lg-2 stats-cards">
                        <div class="card mb-1 widget-content bg-white">
                            <div class="widget-content-wrapper text-white">
                                <div class="widget-content-left">
                                    <div class="widget-heading text-black-50">Всего подтверждено</div>
                                    <div class="widget-numbers text-danger">
                                        {{ stats.total.confirmed|number_format(0, ',', ' ') }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-card mb-3 card">
                            <div class="card-body card-spaceless">
                                <h5 class="card-title">По стране / региону </h5>
                                <div class="scroll-area-lg">
                                    <div class="scrollbar-container ps--active-y">
                                        <table class="mb-0 table">
                                            <tbody>
                                            {% for country in stats.confirmed %}
                                                <tr>
                                                    <td>
                                                        <span class="text-danger">{{ country.total|number_format(0, ',', ' ') }}</span>
                                                        <span style="padding-left: 10px;">
                                                            {% if country.province == country.name %}
                                                                {{ country.name }}
                                                            {% else %}
                                                                <span style="font-weight: bold;">{{ country.province }}</span>
                                                                {{ country.name }}
                                                            {% endif %}
                                                        </span>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xs-12 stats-cards stats-map">
                        <div class="mb-2 card">
                            <div class="card-header-tab card-header-tab-animation card-header">
                                <div class="card-header-title">
                                    <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
                                    <h2 class="text-dark"><span style="font-size: 0.6em;padding-top:10px;word-break: break-word;font-weight: bold;">Карта распостранения коронавируса онлайн</span></h2>
                                </div>
                            </div>

                            <div class="card-body">
                                <div class="panel-body-map">
                                    <div id="map" style="height:380px;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="main-card mb-1 card">
                            <div class="no-gutters row">
                                <div class="col-md-4">
                                    <div class="widget-content">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-right ml-0 mr-3">
                                                <div class="widget-numbers text-danger">{{ mapData|length }}</div>
                                                <div class="widget-heading">Стран заражено</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="widget-content">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-right ml-0 mr-3">
                                                <div class="widget-numbers text-warning">{{ stats.total.world_percent|number_format(4, '.', ' ') }}%</div>
                                                <div class="widget-heading">Населения планеты</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="widget-content">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-right ml-0 mr-3">
                                                <div class="widget-numbers text-black">{{ stats.total.deaths_percent|number_format(2, '.', ' ') }}%</div>
                                                <div class="widget-heading">Смертность заболевших</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-2 col-lg-2 stats-cards">
                        <div class="card mb-1 widget-content bg-white">
                            <div class="widget-content-wrapper text-white">
                                <div class="widget-content-left">
                                    <div class="widget-heading text-black-50">Всего вылечилось</div>
                                    <div class="widget-numbers text-success">
                                        {{ stats.total.recovered|number_format(0, ',', ' ') }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-card mb-3 card">
                            <div class="card-body card-spaceless">
                                <h5 class="card-title">По стране / региону</h5>
                                <div class="scroll-area-lg">
                                    <div class="scrollbar-container ps--active-y">
                                        <table class="mb-0 table">
                                            <tbody>
                                            {% for country in stats.recovered %}
                                                <tr>
                                                    <td>
                                                        <span class="text-success">{{ country.total|number_format(0, ',', ' ') }}</span><br/>
                                                        {% if country.province == country.name %}
                                                            {{ country.name }}
                                                        {% else %}
                                                            <span style="font-weight: bold;">{{ country.province }}</span>
                                                            {{ country.name }}
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 stats-cards">
                        <div class="card mb-1 widget-content  bg-white">
                            <div class="widget-content-wrapper text-white">
                                <div class="widget-content-left">
                                    <div class="widget-heading text-black-50">Всего смертей</div>
                                    <div class="widget-numbers" style="color:black;">
                                        {{ stats.total.deaths|number_format(0, ',', ' ') }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-card mb-3 card">
                            <div class="card-body card-spaceless">
                                <h5 class="card-title">По стране / региону</h5>
                                <div class="scroll-area-lg">
                                    <div class="scrollbar-container ps--active-y">
                                        <table class="mb-0 table">
                                            <tbody>
                                            {% for country in stats.deaths %}
                                                <tr>
                                                    <td>
                                                        <span class="text-dark">{{ country.total|number_format(0, ',', ' ') }}</span><br/>
                                                        {% if country.province == country.name %}
                                                            {{ country.name }}
                                                        {% else %}
                                                            <span style="font-weight: bold;">{{ country.province }}</span>
                                                            {{ country.name }}
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- javascripts -->
<script src="{{ asset('js/jquery.js') }}"></script>
<script src="{{ asset('js/jquery-ui-1.10.4.min.js') }}"></script>
<script src="{{ asset('js/jquery-1.8.3.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/jquery-jvectormap-1.2.2.min.js') }}"></script>
<script src="{{ asset('js/jquery-jvectormap-world-mill-en.js') }}"></script>
<script>

    var data = {{ mapData|json_encode|raw }};

    /* ---------- Map ---------- */
    $(function() {
        $('#map').vectorMap({
            map: 'world_mill_en',
            markets: Object.keys(data),
            series: {
                regions: [{
                    values: data,
                    normalizeFunction: 'polynomial',
                    scale: ['#ff5252', '#FF0000'],
                }]
            },
            regionLabelStyle: {
                initial: {
                    fill: '#B90E32'
                }
            },
            onRegionLabelShow: function(event, label, index) {
                let text = '<b>'+label.html()+'</b>';
                data[index] !== undefined ? text += '</br>'+ '<b>Всего заражений: </b>'+ data[index] : text += '';
                label.html(text);
            }
        });
    });
</script>
</body>
</html>
